.emacs.desktop
emacs/auto-save-list/
emacs/savehist

/emacs/ido.last
/emacs/places
projectile-bookmarks.eld
/emacs/session*
/emacs/.#places
/emacs/elpa/archives/gnu/archive-contents~
/emacs/elpa/archives/melpa/archive-contents~
